<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library_db?createDatabaseIfNotExist=true&amp;useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- JDBC Connection Pool settings (C3P0 or built-in) -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo and Format all executed SQL to stdout -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Update Database schema on startup if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Current Session Context -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Entity Class Mappings -->
        <mapping class="com.library.entity.User"/>
        <mapping class="com.library.entity.Book"/>
        <mapping class="com.library.entity.Transaction"/>
    </session-factory>
</hibernate-configuration>
